# Chicago Crime

## Daten importieren

In [1]:
from pathlib import Path

PARENT_PATH = str(Path().resolve().parent) + "/"
PATH = "data/"
SUBPATH = "raw/"
FILE = "chicago_crimes_raw"
FORMAT = ".csv"

In [2]:
PARENT_PATH

'/Users/hendrikpfeifer/DataStorytelling/project-dst/'

In [3]:
import pandas as pd

df = pd.read_csv(PARENT_PATH + PATH + SUBPATH + FILE + FORMAT)

## Datenüberblick

In [5]:
df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Latitude,Longitude
0,11864018,JC476123,09/24/2019 08:00:00 AM,022XX S MICHIGAN AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,132,1.0,3.0,33.0,2019,41.852248,-87.623786
1,11859805,JC471592,10/13/2019 08:30:00 PM,024XX W CHICAGO AVE,0860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,False,False,1221,12.0,26.0,24.0,2019,41.895732,-87.687784
2,11863808,JC476236,10/05/2019 06:30:00 PM,0000X N LOOMIS ST,0810,THEFT,OVER $500,RESIDENCE,False,False,1224,12.0,27.0,28.0,2019,41.882002,-87.662287
3,11859727,JC471542,10/13/2019 07:00:00 PM,016XX W ADDISON ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1922,19.0,47.0,6.0,2019,41.946987,-87.669164
4,11859656,JC471240,10/13/2019 02:10:00 PM,051XX N BROADWAY,0560,ASSAULT,SIMPLE,GAS STATION,False,False,2033,20.0,47.0,3.0,2019,41.975838,-87.659854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522623,12687228,JF223357,06/22/2019 07:32:00 PM,009XX S MAYFIELD AVE,1585,SEX OFFENSE,OTHER,RESIDENCE,False,True,1513,15.0,29.0,25.0,2019,41.869906,-87.771836
522624,11411956,JB390333,08/12/2018 02:43:00 PM,012XX S AVERS AVE,041A,BATTERY,AGGRAVATED - HANDGUN,SIDEWALK,True,False,1011,10.0,24.0,29.0,2018,41.865651,-87.721499
522625,11533851,JB551085,12/12/2018 05:00:00 PM,006XX E 89TH ST,1753,OFFENSE INVOLVING CHILDREN,SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER,RESIDENCE,False,True,633,6.0,6.0,44.0,2018,41.732936,-87.608977
522626,12737370,JF288776,06/02/2019 09:14:00 AM,021XX N LATROBE AVE,1752,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,APARTMENT,False,True,2515,25.0,36.0,19.0,2019,41.919483,-87.757240
522627,12728489,JF277971,05/12/2019 02:44:00 PM,054XX S SEELEY AVE,1751,OFFENSE INVOLVING CHILDREN,CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,True,932,9.0,16.0,61.0,2019,41.795190,-87.675556

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522628 entries, 0 to 522627
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    522628 non-null  int64
 1   Case Number           522628 non-null  object
 2   Date                  522628 non-null  object
 3   Block                 522628 non-null  object
 4   IUCR                  522628 non-null  object
 5   Primary Type          522628 non-null  object
 6   Description           522628 non-null  object
 7   Location Description  521006 non-null  object
 8   Arrest                522628 non-null  bool
 9   Domestic              522628 non-null  bool
 10  Beat                  522628 non-null  int64
 11  District              522628 non-null  float64
 12  Ward                  522610 non-null  float64
 13  Community Area        522628 non-null  float64
 14  Year                  522628 non-null  int64
 15  Latitude              522628 non-null  float64
 16  Longitude             522628 non-null  float64
dtypes: bool(2), float64(5), int64(3), object(7)
memory usage: 60.8+ MB

In [9]:
df.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
Year                      int64
Latitude                float64
Longitude               float64
dtype: object

## Daten anpassen

### Spaltennamen

In [10]:
# Spaltennamen umbenennen
df = df.rename(columns={ 
            "ID": "id",
            "Case Number": "case_number",
            "Date": "date",
            "Block": "block",
            "IUCR": "iucr",
            "Primary Type": "primary_type",
            "Description": "description",
            "Location Description": "location_description",
            "Arrest": "arrest",
            "Domestic": "domestic",
            "Beat": "beat",
            "District": "district",
            "Ward": "ward",
            "Community Area": "community_area",
            "Year": "year",
            "Latitude": "latitude",
            "Longitude": "longitude"
}, errors="raise")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522628 entries, 0 to 522627
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    522628 non-null  int64
 1   case_number           522628 non-null  object
 2   date                  522628 non-null  object
 3   block                 522628 non-null  object
 4   iucr                  522628 non-null  object
 5   primary_type          522628 non-null  object
 6   description           522628 non-null  object
 7   location_description  521006 non-null  object
 8   arrest                522628 non-null  bool
 9   domestic              522628 non-null  bool
 10  beat                  522628 non-null  int64
 11  district              522628 non-null  float64
 12  ward                  522610 non-null  float64
 13  community_area        522628 non-null  float64
 14  year                  522628 non-null  int64
 15  latitude              522628 non-null  float64
 16  longitude             522628 non-null  float64
dtypes: bool(2), float64(5), int64(3), object(7)
memory usage: 60.8+ MB

## Variablen anpassen

### Nicht benötigte Variablen löschen

"case_number" und "iucr" helfen nicht weiter, da es schon eine "id" gibt

In [31]:
df = df.drop("case_number", axis=1)
df = df.drop("iucr", axis=1)

### Datum und Zeit anpassen

In [14]:
#date in datetime umwandeln

df["date"] = pd.to_datetime(df.date)

In [32]:
df.head()

,id,date,block,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,year,latitude,longitude,arrest__False,arrest__True,domestic__False,domestic__True
0,11864018,2019-09-24 08:00:00,022XX S MICHIGAN AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,132,1.0,3.0,33.0,2019,41.852248,-87.623786,1,0,1,0
1,11859805,2019-10-13 20:30:00,024XX W CHICAGO AVE,THEFT,RETAIL THEFT,GROCERY FOOD STORE,False,False,1221,12.0,26.0,24.0,2019,41.895732,-87.687784,1,0,1,0
2,11863808,2019-10-05 18:30:00,0000X N LOOMIS ST,THEFT,OVER $500,RESIDENCE,False,False,1224,12.0,27.0,28.0,2019,41.882002,-87.662287,1,0,1,0
3,11859727,2019-10-13 19:00:00,016XX W ADDISON ST,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1922,19.0,47.0,6.0,2019,41.946987,-87.669164,1,0,1,0
4,11859656,2019-10-13 14:10:00,051XX N BROADWAY,ASSAULT,SIMPLE,GAS STATION,False,False,2033,20.0,47.0,3.0,2019,41.975838,-87.659854,1,0,1,0

In [17]:
df.dtypes

id                               int64
case_number                     object
date                    datetime64[ns]
block                           object
iucr                            object
primary_type                    object
description                     object
location_description            object
arrest                            bool
domestic                          bool
beat                             int64
district                       float64
ward                           float64
community_area                 float64
year                             int64
latitude                       float64
longitude                      float64
dtype: object

### Nominale Variablen

In [18]:
# Liste mit nominalen Variablen erstellen

list_nominal = ["arrest", "domestic"]

In [19]:
# Nominale Variablen als kategorial formatieren (category)
for i in list_nominal:
    df[i] = df[i].astype("category")

In [21]:
# Nominale Variablen anzeigen lassen
df[list_nominal].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522628 entries, 0 to 522627
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   arrest    522628 non-null  category
 1   domestic  522628 non-null  category
dtypes: category(2)
memory usage: 1021.0 KB

In [24]:
df[list_nominal].head()

  arrest domestic
0  False    False
1  False    False
2  False    False
3  False    False
4  False    False

In [26]:
dummy_nominal = pd.get_dummies(df[list_nominal],  prefix_sep='__').astype('category')
dummy_nominal

       arrest__False arrest__True domestic__False domestic__True
0                  1            0               1              0
1                  1            0               1              0
2                  1            0               1              0
3                  1            0               1              0
4                  1            0               1              0
...              ...          ...             ...            ...
522623             1            0               0              1
522624             0            1               1              0
522625             1            0               0              1
522626             1            0               0              1
522627             1            0               0              1

[522628 rows x 4 columns]

In [27]:
# Dummy-Variablen hinzufügen
df = df.join(dummy_nominal)

In [33]:
df.head()

,id,date,block,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,year,latitude,longitude,arrest__False,arrest__True,domestic__False,domestic__True
0,11864018,2019-09-24 08:00:00,022XX S MICHIGAN AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,132,1.0,3.0,33.0,2019,41.852248,-87.623786,1,0,1,0
1,11859805,2019-10-13 20:30:00,024XX W CHICAGO AVE,THEFT,RETAIL THEFT,GROCERY FOOD STORE,False,False,1221,12.0,26.0,24.0,2019,41.895732,-87.687784,1,0,1,0
2,11863808,2019-10-05 18:30:00,0000X N LOOMIS ST,THEFT,OVER $500,RESIDENCE,False,False,1224,12.0,27.0,28.0,2019,41.882002,-87.662287,1,0,1,0
3,11859727,2019-10-13 19:00:00,016XX W ADDISON ST,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1922,19.0,47.0,6.0,2019,41.946987,-87.669164,1,0,1,0
4,11859656,2019-10-13 14:10:00,051XX N BROADWAY,ASSAULT,SIMPLE,GAS STATION,False,False,2033,20.0,47.0,3.0,2019,41.975838,-87.659854,1,0,1,0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522628 entries, 0 to 522627
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    522628 non-null  int64
 1   date                  522628 non-null  datetime64[ns]
 2   block                 522628 non-null  object
 3   primary_type          522628 non-null  object
 4   description           522628 non-null  object
 5   location_description  521006 non-null  object
 6   arrest                522628 non-null  category
 7   domestic              522628 non-null  category
 8   beat                  522628 non-null  int64
 9   district              522628 non-null  float64
 10  ward                  522610 non-null  float64
 11  community_area        522628 non-null  float64
 12  year                  522628 non-null  int64
 13  latitude              522628 non-null  float64
 14  longitude             522628 non-null  float64
 15  arrest__False         522628 non-null  category
 16  arrest__True          522628 non-null  category
 17  domestic__False       522628 non-null  category
 18  domestic__True        522628 non-null  category
dtypes: category(6), datetime64[ns](1), float64(5), int64(3), object(4)
memory usage: 54.8+ MB

### Categoriale Variablen (Allgemein)

In [35]:
#primary_type noch einmal gesondert ansehen
cat_list = ["id","block","primary_type", "description", "location_description", "beat", "district", "ward", "community_area", "year"]

In [36]:
# Variablen als kategorial formatieren (category)
for i in cat_list:
    df[i] = df[i].astype("category")

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522628 entries, 0 to 522627
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    522628 non-null  category
 1   date                  522628 non-null  datetime64[ns]
 2   block                 522628 non-null  category
 3   primary_type          522628 non-null  category
 4   description           522628 non-null  category
 5   location_description  521006 non-null  category
 6   arrest                522628 non-null  category
 7   domestic              522628 non-null  category
 8   beat                  522628 non-null  category
 9   district              522628 non-null  category
 10  ward                  522610 non-null  category
 11  community_area        522628 non-null  category
 12  year                  522628 non-null  category
 13  latitude              522628 non-null  float64
 14  longitude             522628 non-null  float64
 15  arrest__False         522628 non-null  category
 16  arrest__True          522628 non-null  category
 17  domestic__False       522628 non-null  category
 18  domestic__True        522628 non-null  category
dtypes: category(16), datetime64[ns](1), float64(2)
memory usage: 44.8 MB

# Datensatz temporär speichern

In [38]:
import time

TIME = "-" + time.strftime("%Y%m%d-%H%M")

In [39]:
SUBPATH = "interim/"

In [40]:
df.to_csv(PARENT_PATH + PATH + SUBPATH + FILE + TIME + FORMAT, index=False)