# Chicago Crime

## Daten importieren

In [40]:
from pathlib import Path

PARENT_PATH = str(Path().resolve().parent) + "/"
PATH = "data/"
SUBPATH = "raw/"
FILE = "chicago_crimes"
FORMAT = ".csv"

In [41]:
PARENT_PATH

'/Users/hendrikpfeifer/DataStorytelling/project-dst/'

In [42]:
import pandas as pd

df = pd.read_csv(PARENT_PATH + PATH + SUBPATH + FILE + FORMAT)

## Datenüberblick

In [43]:
df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,Year,Latitude,Longitude
0,11452981,JB441314,09/15/2018 11:00:00 PM,045XX S FAIRFIELD AVE,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,False,False,922,9.0,12.0,58.0,2018,41.811058,-87.693066
1,11370943,JB337357,07/05/2018 10:00:00 PM,022XX S MICHIGAN AVE,0810,THEFT,OVER $500,STREET,False,False,131,1.0,2.0,33.0,2018,41.852410,-87.623792
2,11805144,JC405417,08/24/2019 01:00:00 AM,084XX S KENNETH AVE,0810,THEFT,OVER $500,STREET,False,False,834,8.0,18.0,70.0,2019,41.739312,-87.732509
3,11208069,JB121670,01/19/2018 11:44:00 AM,0000X N LATROBE AVE,2024,NARCOTICS,POSS: HEROIN(WHITE),SIDEWALK,True,False,1522,15.0,28.0,25.0,2018,41.880998,-87.756304
4,11352516,JB313298,06/18/2018 11:00:00 PM,009XX W BARRY AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,1933,19.0,44.0,6.0,2018,41.938104,-87.653157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78389,11718085,JC300895,06/10/2019 04:30:00 PM,072XX N CLAREMONT AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE PORCH/HALLWAY,False,False,2411,24.0,50.0,2.0,2019,42.013040,-87.688899
78390,11265936,JB198678,03/25/2018 12:25:00 AM,061XX N BROADWAY,0460,BATTERY,SIMPLE,SIDEWALK,True,False,2433,24.0,48.0,77.0,2018,41.993963,-87.660391
78391,11746002,JC334693,07/03/2019 01:00:00 PM,053XX W BERENICE AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,1634,16.0,38.0,15.0,2019,41.950510,-87.761372
78392,11886590,JC503262,11/07/2019 11:45:00 PM,0000X E BELLEVUE PL,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,1824,18.0,42.0,8.0,2019,41.901575,-87.627233
78393,11852339,JC462418,10/06/2019 04:27:00 PM,045XX N BEACON ST,0460,BATTERY,SIMPLE,NURSING HOME/RETIREMENT HOME,False,False,1913,19.0,46.0,3.0,2019,41.964296,-87.663766

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78394 entries, 0 to 78393
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    78394 non-null  int64
 1   Case Number           78394 non-null  object
 2   Date                  78394 non-null  object
 3   Block                 78394 non-null  object
 4   IUCR                  78394 non-null  object
 5   Primary Type          78394 non-null  object
 6   Description           78394 non-null  object
 7   Location Description  78151 non-null  object
 8   Arrest                78394 non-null  bool
 9   Domestic              78394 non-null  bool
 10  Beat                  78394 non-null  int64
 11  District              78394 non-null  float64
 12  Ward                  78391 non-null  float64
 13  Community Area        78394 non-null  float64
 14  Year                  78394 non-null  int64
 15  Latitude              78394 non-null  float64
 16  Longitude             78394 non-null  float64
dtypes: bool(2), float64(5), int64(3), object(7)
memory usage: 9.1+ MB

In [45]:
df.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
Year                      int64
Latitude                float64
Longitude               float64
dtype: object

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78394 entries, 0 to 78393
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    78394 non-null  int64
 1   Case Number           78394 non-null  object
 2   Date                  78394 non-null  object
 3   Block                 78394 non-null  object
 4   IUCR                  78394 non-null  object
 5   Primary Type          78394 non-null  object
 6   Description           78394 non-null  object
 7   Location Description  78151 non-null  object
 8   Arrest                78394 non-null  bool
 9   Domestic              78394 non-null  bool
 10  Beat                  78394 non-null  int64
 11  District              78394 non-null  float64
 12  Ward                  78391 non-null  float64
 13  Community Area        78394 non-null  float64
 14  Year                  78394 non-null  int64
 15  Latitude              78394 non-null  float64
 16  Longitude             78394 non-null  float64
dtypes: bool(2), float64(5), int64(3), object(7)
memory usage: 9.1+ MB

## Daten anpassen

### Spaltennamen

In [47]:
# Spaltennamen umbenennen
df = df.rename(columns={ 
            "ID": "id",
            "Case Number": "case_number",
            "Date": "date",
            "Block": "block",
            "IUCR": "iucr",
            "Primary Type": "primary_type",
            "Description": "description",
            "Location Description": "location_description",
            "Arrest": "arrest",
            "Domestic": "domestic",
            "Beat": "beat",
            "District": "district",
            "Ward": "ward",
            "Community Area": "community_area",
            "Year": "year",
            "Latitude": "latitude",
            "Longitude": "longitude"
}, errors="raise")

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78394 entries, 0 to 78393
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    78394 non-null  int64
 1   case_number           78394 non-null  object
 2   date                  78394 non-null  object
 3   block                 78394 non-null  object
 4   iucr                  78394 non-null  object
 5   primary_type          78394 non-null  object
 6   description           78394 non-null  object
 7   location_description  78151 non-null  object
 8   arrest                78394 non-null  bool
 9   domestic              78394 non-null  bool
 10  beat                  78394 non-null  int64
 11  district              78394 non-null  float64
 12  ward                  78391 non-null  float64
 13  community_area        78394 non-null  float64
 14  year                  78394 non-null  int64
 15  latitude              78394 non-null  float64
 16  longitude             78394 non-null  float64
dtypes: bool(2), float64(5), int64(3), object(7)
memory usage: 9.1+ MB

## Variablen anpassen

### Nicht benötigte Variablen löschen

"case_number" und "iucr" helfen nicht weiter, da es schon eine "id" gibt

In [49]:
df = df.drop("case_number", axis=1)
df = df.drop("iucr", axis=1)

### Datum und Zeit anpassen

In [50]:
#date in datetime umwandeln

df["date"] = pd.to_datetime(df.date)

In [51]:
df["month"] = df["date"].dt.month

In [52]:
df["day"] = df["date"].dt.day

In [53]:
df["hour"] = df["date"].dt.hour

In [54]:
df.head()

,id,date,block,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,year,latitude,longitude,month,day,hour
0,11452981,2018-09-15 23:00:00,045XX S FAIRFIELD AVE,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,False,False,922,9.0,12.0,58.0,2018,41.811058,-87.693066,9,15,23
1,11370943,2018-07-05 22:00:00,022XX S MICHIGAN AVE,THEFT,OVER $500,STREET,False,False,131,1.0,2.0,33.0,2018,41.852410,-87.623792,7,5,22
2,11805144,2019-08-24 01:00:00,084XX S KENNETH AVE,THEFT,OVER $500,STREET,False,False,834,8.0,18.0,70.0,2019,41.739312,-87.732509,8,24,1
3,11208069,2018-01-19 11:44:00,0000X N LATROBE AVE,NARCOTICS,POSS: HEROIN(WHITE),SIDEWALK,True,False,1522,15.0,28.0,25.0,2018,41.880998,-87.756304,1,19,11
4,11352516,2018-06-18 23:00:00,009XX W BARRY AVE,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,1933,19.0,44.0,6.0,2018,41.938104,-87.653157,6,18,23

In [55]:
df.dtypes

id                               int64
date                    datetime64[ns]
block                           object
primary_type                    object
description                     object
location_description            object
arrest                            bool
domestic                          bool
beat                             int64
district                       float64
ward                           float64
community_area                 float64
year                             int64
latitude                       float64
longitude                      float64
month                            int64
day                              int64
hour                             int64
dtype: object

### Nominale Variablen

In [56]:
# Liste mit nominalen Variablen erstellen

list_nominal = ["arrest", "domestic"]

In [57]:
# Nominale Variablen als kategorial formatieren (category)
for i in list_nominal:
    df[i] = df[i].astype("category")

In [58]:
# Nominale Variablen anzeigen lassen
df[list_nominal].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78394 entries, 0 to 78393
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   arrest    78394 non-null  category
 1   domestic  78394 non-null  category
dtypes: category(2)
memory usage: 153.4 KB

In [59]:
df[list_nominal].head()

  arrest domestic
0  False    False
1  False    False
2  False    False
3   True    False
4  False    False

In [60]:
dummy_nominal = pd.get_dummies(df[list_nominal],  prefix_sep='__').astype('category')
dummy_nominal

      arrest__False arrest__True domestic__False domestic__True
0                 1            0               1              0
1                 1            0               1              0
2                 1            0               1              0
3                 0            1               1              0
4                 1            0               1              0
...             ...          ...             ...            ...
78389             1            0               1              0
78390             0            1               1              0
78391             1            0               1              0
78392             1            0               1              0
78393             1            0               1              0

[78394 rows x 4 columns]

In [61]:
# Dummy-Variablen hinzufügen
df = df.join(dummy_nominal)

In [62]:
df.head()

,id,date,block,primary_type,description,location_description,arrest,domestic,beat,district,...,year,latitude,longitude,month,day,hour,arrest__False,arrest__True,domestic__False,domestic__True
0,11452981,2018-09-15 23:00:00,045XX S FAIRFIELD AVE,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,False,False,922,9.0,...,2018,41.811058,-87.693066,9,15,23,1,0,1,0
1,11370943,2018-07-05 22:00:00,022XX S MICHIGAN AVE,THEFT,OVER $500,STREET,False,False,131,1.0,...,2018,41.852410,-87.623792,7,5,22,1,0,1,0
2,11805144,2019-08-24 01:00:00,084XX S KENNETH AVE,THEFT,OVER $500,STREET,False,False,834,8.0,...,2019,41.739312,-87.732509,8,24,1,1,0,1,0
3,11208069,2018-01-19 11:44:00,0000X N LATROBE AVE,NARCOTICS,POSS: HEROIN(WHITE),SIDEWALK,True,False,1522,15.0,...,2018,41.880998,-87.756304,1,19,11,0,1,1,0
4,11352516,2018-06-18 23:00:00,009XX W BARRY AVE,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,1933,19.0,...,2018,41.938104,-87.653157,6,18,23,1,0,1,0

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78394 entries, 0 to 78393
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    78394 non-null  int64
 1   date                  78394 non-null  datetime64[ns]
 2   block                 78394 non-null  object
 3   primary_type          78394 non-null  object
 4   description           78394 non-null  object
 5   location_description  78151 non-null  object
 6   arrest                78394 non-null  category
 7   domestic              78394 non-null  category
 8   beat                  78394 non-null  int64
 9   district              78394 non-null  float64
 10  ward                  78391 non-null  float64
 11  community_area        78394 non-null  float64
 12  year                  78394 non-null  int64
 13  latitude              78394 non-null  float64
 14  longitude             78394 non-null  float64
 15  month                 78394 non-null  int64
 16  day                   78394 non-null  int64
 17  hour                  78394 non-null  int64
 18  arrest__False         78394 non-null  category
 19  arrest__True          78394 non-null  category
 20  domestic__False       78394 non-null  category
 21  domestic__True        78394 non-null  category
dtypes: category(6), datetime64[ns](1), float64(5), int64(6), object(4)
memory usage: 10.0+ MB

### Categoriale Variablen (Allgemein)

In [64]:
#primary_type noch einmal gesondert ansehen
cat_list = ["id","block","primary_type", "description", "location_description", "beat", "district", "ward", "community_area", "year"]

In [65]:
# Variablen als kategorial formatieren (category)
for i in cat_list:
    df[i] = df[i].astype("category")

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78394 entries, 0 to 78393
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    78394 non-null  category
 1   date                  78394 non-null  datetime64[ns]
 2   block                 78394 non-null  category
 3   primary_type          78394 non-null  category
 4   description           78394 non-null  category
 5   location_description  78151 non-null  category
 6   arrest                78394 non-null  category
 7   domestic              78394 non-null  category
 8   beat                  78394 non-null  category
 9   district              78394 non-null  category
 10  ward                  78391 non-null  category
 11  community_area        78394 non-null  category
 12  year                  78394 non-null  category
 13  latitude              78394 non-null  float64
 14  longitude             78394 non-null  float64
 15  month                 78394 non-null  int64
 16  day                   78394 non-null  int64
 17  hour                  78394 non-null  int64
 18  arrest__False         78394 non-null  category
 19  arrest__True          78394 non-null  category
 20  domestic__False       78394 non-null  category
 21  domestic__True        78394 non-null  category
dtypes: category(16), datetime64[ns](1), float64(2), int64(3)
memory usage: 8.6 MB

# Datensatz temporär speichern

In [67]:
import time

TIME = "-" + time.strftime("%Y%m%d-%H%M")

In [68]:
SUBPATH = "interim/"

In [69]:
df.to_csv(PARENT_PATH + PATH + SUBPATH + FILE + TIME + FORMAT, index=False)