In [19]:
from pathlib import Path

PARENT_PATH = str(Path().resolve().parent) + "/"
PATH = "data/"
SUBPATH = "interim/"
FILE = "chicago_crimes_raw-20221109-1614"
FORMAT = ".csv"

In [20]:
import pandas as pd

df = pd.read_csv(PARENT_PATH + PATH + SUBPATH + FILE + FORMAT)

In [21]:
df

,id,date,block,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,year,latitude,longitude,arrest__False,arrest__True,domestic__False,domestic__True
0,11864018,2019-09-24 08:00:00,022XX S MICHIGAN AVE,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,132,1.0,3.0,33.0,2019,41.852248,-87.623786,1,0,1,0
1,11859805,2019-10-13 20:30:00,024XX W CHICAGO AVE,THEFT,RETAIL THEFT,GROCERY FOOD STORE,False,False,1221,12.0,26.0,24.0,2019,41.895732,-87.687784,1,0,1,0
2,11863808,2019-10-05 18:30:00,0000X N LOOMIS ST,THEFT,OVER $500,RESIDENCE,False,False,1224,12.0,27.0,28.0,2019,41.882002,-87.662287,1,0,1,0
3,11859727,2019-10-13 19:00:00,016XX W ADDISON ST,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1922,19.0,47.0,6.0,2019,41.946987,-87.669164,1,0,1,0
4,11859656,2019-10-13 14:10:00,051XX N BROADWAY,ASSAULT,SIMPLE,GAS STATION,False,False,2033,20.0,47.0,3.0,2019,41.975838,-87.659854,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522623,12687228,2019-06-22 19:32:00,009XX S MAYFIELD AVE,SEX OFFENSE,OTHER,RESIDENCE,False,True,1513,15.0,29.0,25.0,2019,41.869906,-87.771836,1,0,0,1
522624,11411956,2018-08-12 14:43:00,012XX S AVERS AVE,BATTERY,AGGRAVATED - HANDGUN,SIDEWALK,True,False,1011,10.0,24.0,29.0,2018,41.865651,-87.721499,0,1,1,0
522625,11533851,2018-12-12 17:00:00,006XX E 89TH ST,OFFENSE INVOLVING CHILDREN,SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER,RESIDENCE,False,True,633,6.0,6.0,44.0,2018,41.732936,-87.608977,1,0,0,1
522626,12737370,2019-06-02 09:14:00,021XX N LATROBE AVE,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,APARTMENT,False,True,2515,25.0,36.0,19.0,2019,41.919483,-87.757240,1,0,0,1
522627,12728489,2019-05-12 14:44:00,054XX S SEELEY AVE,OFFENSE INVOLVING CHILDREN,CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,True,932,9.0,16.0,61.0,2019,41.795190,-87.675556,1,0,0,1

In [22]:
df = df.sample(frac=0.2, random_state=42)

In [23]:
df

,id,date,block,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,year,latitude,longitude,arrest__False,arrest__True,domestic__False,domestic__True
218682,11452981,2018-09-15 23:00:00,045XX S FAIRFIELD AVE,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,APARTMENT,False,False,922,9.0,12.0,58.0,2018,41.811058,-87.693066,1,0,1,0
162327,11370943,2018-07-05 22:00:00,022XX S MICHIGAN AVE,THEFT,OVER $500,STREET,False,False,131,1.0,2.0,33.0,2018,41.852410,-87.623792,1,0,1,0
490093,11805144,2019-08-24 01:00:00,084XX S KENNETH AVE,THEFT,OVER $500,STREET,False,False,834,8.0,18.0,70.0,2019,41.739312,-87.732509,1,0,1,0
12603,11208069,2018-01-19 11:44:00,0000X N LATROBE AVE,NARCOTICS,POSS: HEROIN(WHITE),SIDEWALK,True,False,1522,15.0,28.0,25.0,2018,41.880998,-87.756304,0,1,1,0
148763,11352516,2018-06-18 23:00:00,009XX W BARRY AVE,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,1933,19.0,44.0,6.0,2018,41.938104,-87.653157,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72679,11292775,2018-04-22 20:09:00,023XX W WARREN BLVD,NARCOTICS,POSS: CANNABIS 30GMS OR LESS,SIDEWALK,True,False,1223,12.0,2.0,28.0,2018,41.882101,-87.685131,0,1,1,0
127677,11323822,2018-05-23 11:15:00,096XX S WINSTON AVE,CRIMINAL TRESPASS,TO RESIDENCE,RESIDENCE,False,False,2213,22.0,21.0,73.0,2018,41.718576,-87.659686,1,0,1,0
383097,11723091,2019-06-14 22:27:00,034XX W FLOURNOY ST,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,True,True,1133,11.0,24.0,27.0,2019,41.872715,-87.711386,0,1,0,1
71669,11291445,2018-04-16 05:00:00,068XX S ARTESIAN AVE,THEFT,$500 AND UNDER,RESIDENCE,False,False,832,8.0,15.0,66.0,2018,41.769346,-87.684592,1,0,1,0
518273,11473057,2018-10-10 22:15:00,032XX N BROADWAY,ASSAULT,SIMPLE,SIDEWALK,False,False,1925,19.0,44.0,6.0,2018,41.940318,-87.644408,1,0,1,0

In [24]:
import time

TIME = "-" + time.strftime("%Y%m%d-%H%M")

In [25]:
SUBPATH = "interim/"

In [26]:
df.to_csv(PARENT_PATH + PATH + SUBPATH + FILE + TIME + FORMAT, index=False)